@media (min-width: 1150px){

    nav {
        flex-direction: row-reverse;
    }

    .menu {
        /* descomentar parahacer ver el modelo estatico */ 
        flex-direction: row-reverse;
    }

    .submenu-panel-table{
        position: static;
        position: absolute;
        left: auto;
        right: calc(100% + 15px);
        top: 12px;
    }
        
} 

