*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px; 
    font-family: 'PT Sans', sans-serif;
    font-weight: ;

  
}

ul {
    list-style: none;
}


a{
    text-decoration: none;
    color: #333;
}

header{
    background-color: #aea6ee55;
    height: 100%;
    box-shadow: 0px 0px 8px 4px #989494f5;

}

.container {
    width: 80%;
    margin: 0 auto;

}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

.logo img {
    height: 60px;
    margin: 30px 0;

}


.logo {
    overflow: hidden;
    /* border-radius: 200%; */
    width: fit-content;
    height: fit-content;
}

#ricerca {
    background-color: green;
    height: 30px;
    width: 100px;
}

.menu{
    display: flex;
    /* margin: 30px 0 ; */
    background-color: #cfcaf1;
    height: 30px;
    align-items: center;
}

.menu, 
.submenu,
.sub-submenu,
.sub-sub-submenu {
    list-style: none;


}

.submenu,
.sub-submenu,
.sub-sub-submenu{
    padding: 10px;

}






.submenu {
    height: auto;

    background-color: #cfcaf1;
    border: solid 1px #999;
    box-shadow: 0px 0px 8px 4px #989494f5;


    /* background-color: #b7b7b18c; */


    /* box-shadow: 0px 0px 8px 4px #989494f5; */



}

.submenu-megamenu-4-livelli {
    position: relative;

}

.sub-submenu{
    display: flex;
    width: 50vw;
    text-align: center;
    height: max-content;


}

.sub-sub-submenu {
    height: max-content;
    display: flex;
    flex-direction: column;
}

.sub-submenu-item {
    flex-basis: 20%;

}

.sub-submenu a, {
    text-align: center;
}
  
.menu  li {
    /* height: 30px; */
    /* display: inline-block; */
}
  
.menu li a {
    background-color: transparent;
    /* height: 30px; */
    padding: 0 16px;
    text-decoration: none;
    /* position: relative; */
    display: block;

    /* border-bottom: 1px solid #b9b6b1; */

}


.sub-sub-submenu li a{
    display: block;

}


.submenu-panel, 
.sub-submenu-panel, 
.sub-sub-submenu-panel{

}



nav i {
    width: 2px;
    height: 5px;
    color: #a7370b;
    padding-left: 0 5px;
}
  
.submenu-panel {
    display: none;
    position: absolute;
}

.sub-submenu-panel {
    background-color: #aea6eea7;
    border: solid 1px #999;

    box-shadow: 0px 0px 8px 4px #989494f5;

    width: 100%;
    height: 100%;
    min-height: 41vh;
    min-width: 50vw;
    display: none;
    position: absolute;
    left: calc(100% + 5px);
    top: 5px;

}



.menu li:hover .submenu-panel {
    display: block;
}

.submenu li:hover .sub-submenu-panel {
    display: block;
}

.submenu li:hover .sub-submenu-tendina-panel {
    display: block;
}



  
.menu li .submenu li a {
    display: block;
    color: #333;
    text-decoration: none;
}
  
.menu li .submenu li a:hover {
    border-bottom: 1px solid #a7370b;
}
  
.menu li .submenu {
    width: fit-content;
}

.menu-item
 {
    height: 30px;
}

.submenu-item,
.sub-submenu-item,
.sub-sub-submenu-item {
    height: fit-content;
    /* padding: -20px 0; */
    margin bottom: -20 px;
}

.submenu-item a,
.sub-submenu-item a,
.sub-sub-submenu-item a {
    margin-bottom: 10px;
}

.submenu-megamenu-4-livelli .sub-sub-submenu-item a {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 16px;
}
  



nav li a {
    line-height: 30px;
}  

/* .submenu-item,
.sub-sub-submenu-item {
    margin-top: 5px;
}
 */
.submenu{
    margin: 0;
}



.sub-sub-submenu-item {
    background-color: transparent;
}

.sub-sub-submenu{
    padding-top: 12px;
}




.sub-submenu-tendina-panel {
    /* ajustar la altura con js */
    /* overflow: hidden; */
    display: none;
    position: absolute;
    top: -11px;
    left: calc(100% + 10px);
    width: 100%;

}

.sub-submenu-tendina {
    display: flex;
    flex-direction: column;
}


.submenu-tendina li {
    position: relative;
}


/* #li-tendina {
    position: relative;
} */

.submenu-megamenu-4-livelli .sub-submenu-item {
    font-weight: bold;
}

.submenu-megamenu-4-livelli .sub-sub-submenu-item{
    font-weight: 400;
}

.sub-submenu-tendina {
    height: auto;
    background-color: #cfcaf1;
}

.submenu {
    text-align: left;
}

.submenu-tendina {

}

/* .sub-submenu-item a {
    height: fit-content;
    margin: 7px 0;
} */





